


.navbar-brand img{
    width: 120px;
    height: 120px;
   
}
html {
    scroll-behavior: smooth;
    background-color: black;
}
section {
    min-height: 100vh;
    padding: 100px 0;
}

.btn btn-primary {
    color: #536DFE;

}