.navbar-brand img{
    width: 120px;
    height: 120px;
}
html {
    scroll-behavior: smooth;
    background-color: black;
}
#banner, #servicos, #sobre, #contato {
    height:100vh;
    padding: 140px 0;
}
.btn btn-primary {
    color: #536DFE;
}
section#assine {
    background-color:#bdbdbd;
    height: 150px;
    margin-top: 150px;
}
section#assine div.row{
    position: relative;
    top: 40%;
}
#cta {
    position:absolute;
    margin-top: 50px;
    font-size: 35px;
    color: white;   
    margin-left: -50px;
}
#mail {
    height: 40px;
    width:600px;
    margin-top: 50px;
    margin-left: 0px;
}
#addon-wrapping {
    font-size: 18px bold;
}

#btn-assine {
    background-color: #536DFE;
    width: 150px;
    position: absolute;
    margin-left: 80px;
    margin-top: 50px;
}
footer{
    height: 40px;
    bottom: 0px;
}
.ilustra-servico{
    max-width: 100%;
    width: 350px;
}
.mainhome{
    margin-top:-140px;
}
#imagemadmin{
    width:100px;
}
.table{
    width: 100%;
}
table tr td:last-child{
    width: 200px;
}
#imagemcriar_servico{
    width: 75%;
    margin-left: 20%;
}
#imglogin{
    margin-top: 20px;
    width: 400px;
}